#italy1 {
    background-color: green;
}

.blue {
    background-color: royalblue;
}

.blue .purple {
    background-color: slateblue;
}

#italy2 {
    background-color: white;
}

#italy3 {
    background-color: red;
}

#index {
    background-color: salmon;
}

.title {
    color: red;
}

.title.head {
    background-color: royalblue;
}